body {
    font-family: arial,sans-serif;
}

header {
    position: relative;
    background-color: rgb(243, 243, 243);
}

#nav-logo {
    width: 80px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.top {
    margin: 25px 35px;
}

h1 {
    font-size: 20px;
    text-align: left;
    color: #d93025;
}

.container {
    max-width: 1140px;
    min-width: 200px;
    width: 1000px;
    margin: 40px 2% 0 45px;
}

.grid {
    display: grid;
    grid-template-columns: 150px 400px 500px;
    column-gap: 10px;
    row-gap:20px;
}

.col-header {
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
}

.col-header-2 {
    font-weight: bold;
}

.grid-item input {
    width: 90%;
}

.description {
    font-size: 11px;
    color: rgb(78, 78, 78);
}

.description span {
    font-size: 11px;
    font-family: monospace;
    color: grey;
}

input[type="submit"] {
    position: relative;
    left: 250px;
    width: 28%;
    grid-column: 2;
    background-color: #8ab4f8;
    border: none;
    padding: 8px 10px;
    font-size: 6px;
    border-radius: 4px;
}